* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-dark {
    color: #fff;
    background-color: black;
    min-width: 320px;
    transition: all 0.5s;
}

.bg-light {
    transition: all 0.5s;
}