.favourite {
    display: grid;
    gap: 10px;
    margin: 10px auto 0;
    width: 80%;
    min-width: 320px;
    place-content: center;
    padding: 10px;
    grid-template-rows: 50px auto;
    grid-template-columns: repeat(3, 100px);
}

.container-inputSearch {
    display: grid;
    grid-column: 1 / 4;
    justify-items: center;
    align-items: center;
}

.container-inputSearch input {
    border-radius: 5px;
    border: none;
    background-color: rgba(14, 69, 158, 0.35);
    font-size: 1.6rem;
    min-width: 200px;
    grid-column: 1 / 3;
    font-weight: 500;
    letter-spacing: 1.5px;
    height: 40px;
    padding: 0 10px;
    outline: none;
}

.bg-dark .container-inputSearch input {
    color: white;
}

.container-inputSearch input:hover {
    background-color: rgba(14, 69, 158, 0.5);
}

.container-inputSearch input::placeholder {
    color: #fff;
}

.favourite--section {
    margin: 10px auto 0;
    justify-items: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-areas:
        "one"
        "two";
    gap: 10px;
}

.imageFavourite {
    grid-area: one;
    width: 70px;
    border-radius: 50%;
}

.favourite--button__color {
    grid-area: two;
}

.favourite--button__color {
    background-color: none;
    border: none;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favourite--button__size {
    width: 20px;
    border-radius: 50%;
}

.favourite--button__size:hover {
    background-color: black;
}

.favourite--button__size:active {
    width: 18px;
}

.bg-light .favourite--button__size {
    border: gray solid 0.5px;
}

.bg-dark .favourite--button__size {
    border: red solid 0.5px;
}

.bg-light .favourite .imageFavourite {
    border: solid 2px black;
}

.bg-dark .favourite .imageFavourite {
    border: solid 2px white;
}

.Characters {
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-row: 400px;
    place-content: center;
    width: 100%;
    min-width: 320px;
    gap: 20px;
    margin-top: 60px;
    padding-bottom: 20px;
}

/*Background dinámico*/
.container {
    display: grid;
    grid-template-rows: 340px 180px;
    border-radius: 10px;
    place-content: center;
    place-items: center;
    padding: 0 5px;
}

.bg-light .container {
    border: black solid;
}

.bg-dark .container {
    border: white solid;
}

.container-character {
    display: grid;
    grid-template-rows: 40px 220px 20px;
    gap: 5px;
    justify-items: center;
    align-items: flex-end;
}

.container-character .item-1 {
    font-size: 2rem;
}

.item {
    margin: 0;
    font-size: 1.4rem;
}

.container-character img {
    width: 80%;
    border-radius: 50%;
}

.bg-light .container-character img {
    border: solid 2px black;
}

.bg-dark .container-character img {
    border: solid 2px white;
}

.container-character button {
    border: none;
    background-color: transparent;
}

.container-character button img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.bg-light .container-character button img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: solid 1px rgba(14, 69, 158, 0.35);
}

.bg-dark .container-character button img {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border: solid 1px rgba(255, 255, 255, 0.35);
}

.container-character button img:hover {
    width: 42px;
}

.container-character button img:active {
    width: 38px;
}

.container-data {
    display: grid;
    gap: 10px;
}

@media(min-width: 768px) {
    .favourite {
        grid-template-columns: repeat(6, 100px);
    }


    .container-inputSearch {
        grid-column: 1 / 7;
    }

    .favourite .imageFavourite {
        width: 100px;
    }

    .favourite--button__size {
        width: 30px;
    }

    .favourite--button__size:active {
        width: 25px;
    }


    .Characters {
        grid-template-columns: repeat(2, 240px);
    }

    .container-character {
        grid-template-rows: 40px 230px;
    }

    .container-character img {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .Characters {
        grid-template-columns: repeat(3, 300px);
    }

    .container-inputSearch {
        grid-column: 1 / 9;
    }

    .favourite {
        grid-template-columns: repeat(8, 100px);
    }

    .container-character img {
        width: 70%;
    }
}

@media (min-width: 1366px) {
    .favourite {
        grid-template-columns: repeat(10, 100px);
    }

    .container-inputSearch {
        grid-column: 1 / 11;
    }

    .Characters {
        grid-template-columns: repeat(4, 300px);
    }
}